In [3]:
l1=[]
for n in range (2000, 3200):
    if (n%7 == 0) and (n%5 != 0):
         l1.append(str(n))
print(','.join(l1))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [13]:
fname = input("please enter first name")
lname = input("please enter second name")
fname = fname[::-1]
lname = lname[::-1]
fullname = fname + ' ' + lname
print(fullname)

please enter first namebharath
please enter second namegowda
htarahb adwog

In [16]:
d = 12
r = d/2
pi = 3.14
vol = 4/3*(pi * r * r * r)
print(vol)

904.3199999999999

s1 = input("enter the number seperated with commas")

In [17]:
s1 = input("enter the numbers seperated with commas")
l1 = s1.split(',')
l1

enter the numbers seperated with commas10,33,55,039,9595,5,34,555

['10', '33', '55', '039', '9595', '5', '34', '555']

In [19]:
n = input("enter a number")
m = int (n)
for i in range (0,m):
    for j in range(0,i+1):
        print('*',end='')
    print("\n")
for i in range (0,m-1):
    m=m-1
    for j in range(0,m):
        print('*',end='')
    print("\n")

enter a number7
*

**

***

****

*****

******

*******

******

*****

****

***

**

*

In [21]:
a = input("enter a word:")
b = a[::-1]
b

enter a word:acadgild

'dligdaca'

In [24]:
print("WE, THE PEOPLE OF INDIA, \n \t having solemnly resolved to constitute india into a SOVEREIGN,!\n \t \t SOCIALIST,SECULAR, DEMOCRATIC REPUBLIC \n \t \t  and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
 	 having solemnly resolved to constitute india into a SOVEREIGN,!
 	 	 SOCIALIST,SECULAR, DEMOCRATIC REPUBLIC
 	 	  and to secure to all its citizens